{% extends 'artstorage/base.html' %}
{% load static %}
{% block content %}
    <main class="main-container">
        <section class="profile">
            <h2 class="general-title">Профиль</h2>
            <div class="profile__container">
                <div class="profile__form form">
                    <form class="form__user-information user-information" action="#" method="post">
                        <fieldset class="user-information__container">
                            
                            <div class="user-information__label-photo" for="user-photo">
                                {% if user.photo %}
                                    <img src="{{ user.photo.url }}" class="user-information__label-photo" alt="Фотография пользователя">
                                {% endif %}
                            </div>
                            <a href="#" class="profile__form-button">Редактировать</a>
                            <label class="visually-hidden" for="description-user">Описание пользователя</label>
                            <text class="user-information__description" name="description-user" id="description-user" cols="30" rows="5" placeholder="О себе">{{ user.descriptions }}</text>
                            <output class="user-information__name">{{ user.first_name }} {{ user.last_name }}</output>
                        </fieldset>
                    </form>
                </div>
                <div class="profile__more-information more-information">
                    <ul class="more-information__list reset-list">
                        <li class="more-information__item">
                            Нравится <span>4</span>
                        </li>
                        <li class="more-information__item">
                            Проекты <span>{{ user.count_projects }}</span>
                        </li>
                        <li class="more-information__item">
                            Подписки <span>{{ user.count_followings }}</span>
                        </li>
                        <li class="more-information__item">
                            Подписчики <span>{{ user.count_followers }}</span>
                        </li>
                    </ul>

                    <div class="more-information__project project">
                        <div class="project__wrapper">
                            <button class="project__add"><span class="plus"></span></button>
                            <span class="project__title">Проекты</span>
                        </div>
                    </div>

                </div>
            </div>
        </section>
{#    <div class="popup visually-hidden">#}
{#            <div class="popup__container">#}
{#                <a class="close"></a>#}
{#                <p class="popup__title">Ваша работа</p>#}
{#                <form class="popup__form" action="POST">#}
{#                    {% csrf_token %}#}
{#                    <fieldset class="popup__data data">#}
{#                        <label for="project-name"></label>#}
{#                        <input class="data__name" type="text" id="project-name" placeholder="Название">#}
{#                        {{ form.name }}#}
{#                        <label class="personal-project__add-new" for="choose-personal-project"><span class="plus"></span></label>#}
{#                        {{ form.image }}#}
{#                        <input class="visually-hidden" type="file" id="choose-personal-project"></input>#}
{#                    </fieldset>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}

    </main>
<script src="{% static 'artstorage/popup.js' %}"></script>

{% endblock content %}